.user-table {
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
}
.user-table thead th {
  padding: 10px;
  text-align: center;
}
/* .user-table tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
} */
.user-table-rounded {
  border: none;
}
.user-table-rounded thead th {
  background-color: #4267b2;
  border: none;
  /* text-shadow: 1px 1px 1px #ccc; */
  color: #fff;
  opacity: 0.9;
}
.user-table tr td:last-child {
  text-align: end;
}

.user-table .no-data-row {
  background: #ff0000;
}

.no-data-row-decoration {
  text-align: center;
  color: white;
  font-weight: 900;
  text-decoration: blink;
}

.user-table-rounded thead th:first-child {
  border-radius: 10px 0 0 0;
}
.user-table-rounded thead th:last-child {
  border-radius: 0 10px 0 0;
}
/* .user-table-rounded tbody td {
  border: none;
  border-top: solid 1px #957030;
  background-color: #eed592;
} */
/* .user-table-rounded tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
} */

/* .user-table thead {
  color: #fff;
  opacity: 0.9;
  background-color: #4267b2;
  font-weight: 200;
  border: 0;
  border-radius: 2rem;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
}

.user-table th {
  text-align: center;
} */
